:root {
    --light-brown: #b4b3ad;
    --med-brown: #4d4726;
    --dark-brown: #383735;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2, 12, 27, 0.7);
    --dark-slate: #495670;
    --gold: #b9a56e;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
    --green-tint: rgba(100, 255, 218, 0.1);
    --light-green: #bee491;
    --black: black;
    --blue: #57cbff;
    --font-fat-face:'Abril Fatface', cursive;
      system-ui, sans-serif;
    --font-Arb: 'Arbutus', cursive;
    --font-Barlow: 'Barlow', sans-serif;
    --font-Noto: 'Noto Serif', serif;
    --font-Lato: 'Lato', sans-serif;
    --font-x-sm: 14px;
    --font-sm: 18px;
    --font-md: 22px;
    --font-lg: 30px;
    --font-xl: 36px;
    --font-xxl:56px;

  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-Noto);
    font-weight: 100;
  }
  html, body {
    background: var(--black);
    scroll-behavior: smooth;
    
  }
  p {
    font-family: var(--font-Lato);
  }

  /*--------------------------HEADER------------------------*/
 
.banner {
  background-image: url(./images/header.png);
  height: 90vh;
  background-size: cover;
  background-position: center;
  text-align: center;
  width: 100%;
}

.nav-bar {
  width: 85%;
  width: auto;
  padding: 25px 0;
  display: flex;
  justify-content: center;
  background: var(--dark-brown);
  animation: slideIn 2s ease;
}

.logo {
  width: 220px;
  cursor: pointer;

}

.nav-bar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  font-size: var(--font-x-sm);
  
}

.nav-bar ul li a {
  color: var(--white);
  text-decoration: none;
  font-family: var(--font-Barlow);
  font-weight: bold;
  margin-right: 30px;
  color: var(--gold);
}

.nav-bar ul li a:hover {
  color: var(--gold);
}



.content h1 {
  width: 100%;
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  color: var(--white);
  text-align: center;
  font-family: var(--font-fat-face);
  font-size: 76px;
  text-shadow: 1px 1px 2px var(--gold);
  animation: slideDown 2s ease;
  padding-bottom: 5px;
}

.content p {
  width: 100%;
  position: absolute;
  top: 42%;
  transform: translateY(-50%);
  color: var(--gold);
  text-align: center;
  font-family: var(--font-fat-face);
  font-size: var(--font-md);
  animation: slideDown 2s ease;
}

.nav-bar img {
  width: 200px;
}

/*Nav-bar media Queries*/

@media (max-width:900px) {
  .nav-bar ul li a {
    flex-direction: column;
    font-size: var(--font-x-sm);
    
  }

  .nav-bar ul li {
    padding-top: 15px;
  }

  .content h1 {
    font-size: 30px;
    text-align: center;
  }

  .banner {
    height: 50vh;
  }
}


@keyframes slideDown {
  0% {
    transform: translateY(-590%);
  }

}
@keyframes slideIn {
  0% {
    transform: translateX(-290%);
  }
}

/*--------------------------INFORMATION------------------------*/

.container{
  display:flex;
  flex-wrap:wrap;
  
}
.flex-direction{
  flex-direction:row;
}
.col-1{
  background-color:var(--dark-brown);
  width:33.3%;
  height:600px;
  align-content: center;
  padding-top: 150px;
}



.col-1 h2 {
  font-size: var(--font-xl);
  padding: 20px;
  text-align: center;
  color: var(--white);
}

.col-1 p {
  font-size: var(--font-x-sm);
  padding: 50px;
  text-align: center;
  color: var(--gold);
  font-family: var();
}

.col-2{
  background-color: var(--white);
  width:33.3%;
  height:600px;
  text-align: center;
  padding-top: 150px;
}

.col-2 h2 {
  font-size: var(--font-xl);
  padding: 20px;
  text-align: center;
}

.col-2 p {
  font-size: var(--font-x-sm);
  padding: 20px;
  text-align: center;
}

.col-3{
  background-color:var(--dark-brown);
  width:33.3%;
  height:600px;
  padding-top: 150px;
}

.col-3 h2 {
  font-size: var(--font-lg);
  padding: 20px;
  text-align: center;
  color: var(--white);
  font-weight: 100;
}

.col-3 p {
  font-size: var(--font-x-sm);
  padding: 50px;
  text-align: center;
  color: var(--gold);
}



@media screen and (max-width: 768px) {
  .flex-direction{
  flex-direction:column;
  }
  .container {
    
  }
  .col-1 {
  width: 100%;
  padding: 50px;
  height: fit-content;
  }
  .col-1 h2 {
    font-size: var(--font-md);
    text-align: center;
  }
  .col-1 p {
    font-size: var(--font-x-sm);
    text-align: center;
  }

  .col-2 {
    height: fit-content;
    width: 100%;
    padding: 50px;
    }
  .col-2 h2 {
    font-size: var(--font-md);
    text-align: center;
    }
  .col-2 p {
    font-size: var(--font-x-sm);
    text-align: center;
    }

  .col-3 {
    height: fit-content;
      width: 100%;
      padding: 50px;
      }
  .col-3 h2 {
    font-size: var(--font-md);
      text-align: center;
      }
  .col-3 p {
    font-size: var(--font-x-sm);
    text-align: center;
    }

  

}

/*--------------------------SERVICES------------------------*/





#services {
  background: var(--black);
  height: 600px;
  align-items: center;
}

#services h2 {
  font-family: var(--font-Barlow);
  text-align: center;
  color: var(--gold);
  padding: 50px 0px;
  margin-top: 250px;
}
#services p {
  font-family: var(--font-Barlow);
  text-align: center;
  color: var(--gold);
  padding: 10px;
  line-height: 1.5;
  font-weight: 500;
}