:root {
    --light-brown: #b4b3ad;
    --med-brown: #4d4726;
    --dark-brown: #2e2209;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2, 12, 27, 0.7);
    --dark-slate: #495670;
    --gold: #b9a56e;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
    --green-tint: rgba(100, 255, 218, 0.1);
    --light-green: #bee491;
    --black: black;
    --blue: #57cbff;
    --font-fat-face:'Abril Fatface', cursive;
      system-ui, sans-serif;
    --font-Arb: 'Arbutus', cursive;
    --font-Barlow: 'Barlow', sans-serif;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html, body {
    background: var(--black);
    scroll-behavior: smooth;
  }

  /*--------------------------HEADER------------------------*/
 
.banner {
  background-image: url(./images/header.png);
  height: 90vh;
  background-size: cover;
  background-position: center;
  text-align: center;
  width: 100%;
}

.nav-bar {
  width: 85%;
  width: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 220px;
  cursor: pointer;

}

.nav-bar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.nav-bar ul li a {
  color: var(--white);
  text-decoration: none;
  font-family: var(--font-Barlow);
  font-weight: bold;
  margin-right: 30px;
  
}

.nav-bar ul li a:hover {
  color: var(--gold);
}



.content h1 {
  width: 100%;
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  color: var(--white);
  text-align: center;
  font-family: var(--font-fat-face);
  font-size: 96px;
  text-shadow: 1px 1px 2px var(--gold);
  animation: slideDown 2s ease;
  padding-bottom: 5px;
}

.content p {
  width: 100%;
  position: absolute;
  top: 42%;
  transform: translateY(-50%);
  color: var(--gold);
  text-align: center;
  font-family: var(--font-fat-face);
  font-size: 20px;
  animation: slideDown 2s ease;
}

.nav-bar img {
  width: 200px;
}

@media (max-width:900px) {
  .nav-bar ul li a {
    flex-direction: column;
    color: var(--white);
    font-size: 14px;
    
  }

  .nav-bar ul li {
    padding-top: 15px;
  }

  .content h1 {
    font-size: 30px;
    text-align: center;
  }

  .banner {
    height: 50vh;
  }
}


@keyframes slideDown {
  0% {
    transform: translateY(-290%);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-290%);
  }
}

/*--------------------------ABOUT------------------------*/

#about {
  background: var(--white);
  height: 600px;
  align-items: center;
}

#about h2 {
  font-family: var(--font-Barlow);
  text-align: center;
  color: var(--black);

 
}
#about p {
  font-family: var(--font-Barlow);
  text-align: center;
  color: var(--black);
  padding: 10px;
  line-height: 1.5;
  font-weight: 500;
}


/*--------------------------SERVICES------------------------*/


.columns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


#services {
  background: var(--black);
  height: 600px;
  align-items: center;
}

#services h2 {
  font-family: var(--font-Barlow);
  text-align: center;
  color: var(--gold);
  padding: 50px 0px;
  margin-top: 250px;
}
#services p {
  font-family: var(--font-Barlow);
  text-align: center;
  color: var(--gold);
  padding: 10px;
  line-height: 1.5;
  font-weight: 500;
}