:root {
  --light-brown: #b4b3ad;
  --med-brown: #4d4726;
  --dark-brown: #383735;
  --lightest-navy: #233554;
  --darkest-brown: rgba(12, 10, 1, 0.7);
  --dark-slate: #495670;
  --gold: #b9a56e;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --black: black;
  --font-fat-face: "Abril Fatface", cursive;
  --font-Barlow: "Barlow", sans-serif;
  --font-Noto: "Noto Serif", serif;
  --font-Lato: "Lato", sans-serif;
  --font-x-sm: 14px;
  --font-sm: 18px;
  --font-md: 22px;
  --font-lg: 30px;
  --font-xl: 36px;
  --font-xxl: 56px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-Noto);
  font-weight: 100;
}
html,
body {
  background: var(--darkest-brown);
  scroll-behavior: smooth;
}
p {
  font-family: var(--font-Lato);
}

/*--------------------------HEADER / NAV / IMAGE TEXT------------------------*/

.banner {
  background-image: url(./images/header.png);
  height: 90vh;
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
  width: 100%;
  align-content: center;
}

.nav-bar {
  width: 100%;
  padding: 30px;
  justify-content: center;
  background: var(--dark-brown);
  animation: slideIn 2s ease;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  width: 220px;
  cursor: pointer;
}

.nav-bar ul li {
  list-style: none;
  align-items: center;
  font-size: var(--font-x-sm);
  display: inline-flex;
  padding: 0px 10px;
}

.nav-bar ul li a {
  color: var(--white);
  text-decoration: none;
  font-family: var(--font-Barlow);
  font-weight: bold;
  color: var(--gold);
  display: inline-flex;
}

.nav-bar ul li a:hover {
  color: var(--white);
}

.content h1 {
  width: 100%;
  position: absolute;
  top: 50%;
  color: var(--white);
  text-align: center;
  font-family: var(--font-fat-face);
  font-size: 76px;
  text-shadow: 1px 1px 2px var(--gold);
  animation: slideDown 2s ease;
  padding-bottom: 5px;
}

.content p {
  width: 100%;
  position: absolute;
  top: 60%;
  color: var(--gold);
  text-align: center;
  font-family: var(--font-Lato);
  font-size: var(--font-md);
  animation: slideDown 2s ease;
  font-weight: 700;
  padding: 20px;
}

.nav-bar img {
  width: 200px;
}

/*Nav-bar media Queries*/

@media (max-width: 900px) {
  .nav-bar ul li a {
    flex-direction: column;
    font-size: var(--font-x-sm);
  }

  .content h1 {
    font-size: 30px;
    text-align: center;
  }

  .banner {
    height: 50vh;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-590%);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-290%);
  }
}

/*--------------------------ARTICLES------------------------*/

.container {
  display: flex;
  flex-wrap: wrap;
}
.flex-direction {
  flex-direction: row;
}
.col-4 {
  background-color: var(--dark-brown);
  width: 33.3%;
  height: 600px;
  align-content: center;
  padding-top: 150px;
}

.col-4 h2::after {
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  width: 50%; /* Change this to whatever width you want. */
  padding-top: 20px; /* This creates some space between the element and the border. */
  border-bottom: 1px solid var(--gold); /* This creates the border. Replace black with whatever color you want. */
}

.col-4 h2 {
  font-size: var(--font-xl);
  padding: 20px;
  text-align: center;
  color: var(--white);
}

.col-4 .sub-header {
  font-size: var(--font-sm);
  padding: 10px;
  text-align: center;
  color: var(--gold);
}

.col-4 .sub-text {
  font-size: var(--font-x-sm);
  padding: 10px;
  text-align: center;
  color: var(--white);
}

.col-5 {
  background-color: var(--white);
  width: 33.3%;
  height: 600px;
  text-align: center;
  padding-top: 100px;
}

.col-5 h2 {
  font-size: var(--font-xl);
  padding: 20px;
  text-align: center;
}

.col-5 h2::after {
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  width: 50%; /* Change this to whatever width you want. */
  padding-top: 20px; /* This creates some space between the element and the border. */
  border-bottom: 1px solid var(--gold); /* This creates the border. Replace black with whatever color you want. */
}

.col-5 p {
  font-size: var(--font-x-sm);
  padding: 50px;
  text-align: center;
  line-height: 2;
}

.col-6 {
  background-color: var(--dark-brown);
  width: 33.3%;
  height: 600px;
  padding-top: 150px;
}

.col-6 h2 {
  font-size: var(--font-lg);
  padding: 20px;
  text-align: center;
  color: var(--white);
  font-weight: 100;
}

.col-6 h2::after {
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  width: 50%; /* Change this to whatever width you want. */
  padding-top: 20px; /* This creates some space between the element and the border. */
  border-bottom: 1px solid var(--gold); /* This creates the border. Replace black with whatever color you want. */
}

.col-6 p {
  font-size: var(--font-x-sm);
  padding: 50px;
  text-align: center;
  color: var(--gold);
  line-height: 2;
}

/*-----------------ARTICLE MEDIA QUERIES--------------------*/

@media screen and (max-width: 768px) {
  .flex-direction {
    flex-direction: column;
  }

  .col-4 {
    width: 100%;
    padding: 50px;
    height: fit-content;
  }
  .col-4 h2 {
    font-size: var(--font-md);
    text-align: center;
  }
  .col-4 p {
    font-size: var(--font-x-sm);
    text-align: center;
  }

  .col-5 {
    height: fit-content;
    width: 100%;
    padding: 50px;
  }
  .col-5 h2 {
    font-size: var(--font-md);
    text-align: center;
  }
  .col-5 p {
    font-size: var(--font-x-sm);
    text-align: center;
  }

  .col-6 {
    height: fit-content;
    width: 100%;
    padding: 50px;
  }
  .col-6 h2 {
    font-size: var(--font-md);
    text-align: center;
  }
  .col-6 p {
    font-size: var(--font-x-sm);
    text-align: center;
  }
}

/*--------------------------SERVICES------------------------*/

.container {
  display: flex;
}

.service-menu {
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url(./images/rustic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
  padding-top: 50px;
  align-items: center;
  position: relative;
}

.col-1 {
  background: transparent;
  text-align: center;
  padding: 50px;
}

.col-1 h2 {
  font-size: var(--font-sm);
  padding: 30px;
  text-align: center;
  color: var(--white);
}

.col-1 h2::after {
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block;
  margin: 0 auto;
  width: 80%; /* Change this to whatever width you want. */
  padding-top: 20px;
  border-bottom: 1px solid var(--gold);
}

.col-1 p {
  font-size: var(--font-x-sm);
  text-align: center;
  color: var(--dark-brown);
  font-weight: bold;
}

.col-2 {
  background: transparent;
  text-align: center;
  padding: 50px;
}

.col-2 h2 {
  font-size: var(--font-sm);
  padding: 20px;
  text-align: center;
  color: var(--white);
}

.col-2 h2::after {
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block;
  margin: 0 auto;
  width: 80%; /* Change this to whatever width you want. */
  padding-top: 20px;
  border-bottom: 1px solid var(--gold);
}

.col-2 p {
  font-size: var(--font-x-sm);
  text-align: center;
  color: var(--dark-brown);
  font-weight: bold;
}

.col-3 {
  background: transparent;
  text-align: center;
  padding: 50px;
}

.col-3 h2 {
  font-size: var(--font-sm);
  padding: 20px;
  text-align: center;
  color: var(--white);
}

.col-3 h2::after {
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block;
  margin: 0 auto;
  width: 80%; /* Change this to whatever width you want. */
  padding-top: 20px;
  border-bottom: 1px solid var(--gold);
}

.col-3 p {
  font-size: var(--font-x-sm);
  text-align: center;
  color: var(--dark-brown);
  font-weight: bold;
}

@media (max-width: 768px) {
  .service-menu {
    height: 100vh;
  }

  .col-1 {
    width: 100%;
    padding: 10px;
  }

  .col-1 h2 {
    font-size: var(--font-sm);
    text-align: center;
    color: var(--white);
  }
  .col-1 p {
    font-size: var(--font-x-sm);
    text-align: center;
  }

  .col-2 {
    width: 100%;
    padding: 10px;
  }

  .col-2 h2 {
    font-size: var(--font-sm);
    text-align: center;
    color: var(--white);
  }
  .col-2 p {
    font-size: var(--font-x-sm);
    text-align: center;
  }

  .col-3 {
    width: 100%;
    padding: 10px;
  }

  .col-3 h2 {
    font-size: var(--font-sm);
    text-align: center;
    color: var(--white);
  }

  .col-3 p {
    font-size: var(--font-x-sm);
    text-align: center;
  }

  .services-text h2 {
    font-size: var(--font-sm);
  }

  #price-button {
    align-items: center;
    padding-top: 50px;
  }
}

#price-button {
  position: absolute;
  bottom: 80px;
}

button {
  padding: 10px 20px;
  background: transparent;
  border: 1px solid var(--gold);
  border-radius: 10px;
  cursor: pointer;
  color: var(--white);
}

/*------------------LOWER BANNER------------------*/

.lower-banner {
  background-image: url(./images/shop.jpg);
  background-size: cover;
  background-position: center;
  height: 70vh;
}


/*------------------PRICE LIST------------------*/

.price-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
  background: var(--white);
  padding: 250px 50px;
  position: relative;
}

.price-list h1 {
  text-align: center;
  color: var(--med-brown);
  position: absolute;
  top: 110px;
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block;
  margin: 0 auto;
  width: 10%; /* Change this to whatever width you want. */
  padding-top: 20px;
  border-bottom: 1px solid var(--gold);
}


.col-7 h2 {
  width:150px ;
  text-align: center;
  padding: 5px;
  color: var(--dark-brown);
  font-size: var(--font-sm);
}
.col-7 h2::after {
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block;
  margin: 0 auto;
  width: 50%; /* Change this to whatever width you want. */
  padding-top: 20px;
  border-bottom: 1px solid var(--gold);
}

.col-8 h2 {
  padding: 5px;
  width:150px ;
  text-align: center;
  font-size: var(--font-sm);
  color: var(--dark-brown);
}
.col-8 h2::after {
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block;
  margin: 0 auto;
  width: 50%; /* Change this to whatever width you want. */
  padding-top: 20px;
  border-bottom: 1px solid var(--gold);
}




.col-7 p {
  width:150px ;
  text-align: center;
  padding: 20px;
  color: var(--gold);
  font-weight: bold;
  font-size: var(--font-x-sm);
}

.col-8 p {
  width:150px ;
  text-align: center;
  padding: 20px;
  color: var(--gold);
  font-weight: bold;
  font-size: var(--font-x-sm);
}

.col-9 h2 {
  width:150px ;
  text-align: center;
  padding: 5px;
  color: var(--dark-brown);
  font-size: var(--font-sm);
}
.col-9 h2::after {
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block;
  margin: 0 auto;
  width: 50%; /* Change this to whatever width you want. */
  padding-top: 20px;
  border-bottom: 1px solid var(--gold);
}


.col-9 p {
  width:150px ;
  text-align: center;
  padding: 20px;
  color: var(--gold);
  font-weight: bold;
  font-size: var(--font-x-sm);
}







/*------------------FOOTER------------------*/

.footer {
  width: 100%;
  background: var(--dark-brown);
  height: max-content;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  position: relative;
}

.footer-detail {
  text-align: center;
  padding: 100px;
}

.footer-detail .copyright {
  color: var(--gold);
  font-size: 10px;
}

.footer-detail p {
  color: var(--white);
  font-size: var(--font-x-sm);
  padding: 10px;
}

.socials {
  color: var(--gold);
  padding: 10px;
}

.socials i {
  font-size: 25px;
  padding: 10px;
  cursor: pointer;
}
